DATABASE_URL=postgresql://tokenscope:tokenscope@localhost:5555/tokenscope
REDIS_URL=redis://localhost:6666
KAFKA_BROKERS=localhost:9092
KAFKAJS_NO_PARTITIONER_WARNING=1
ALCHEMY_RPC=
CHAIN_ID=1
NODE_ENV=development
PORT=4000
START_BLOCK=21000000